@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  
  /* The Royal Earthy Palette */
  --color-royal-bg: #0D100E;       /* Deepest olive/black */
  --color-royal-panel: #151916;    /* Slightly lighter panel */
  --color-royal-border: #2A322D;   /* Muted earthy border */
  --color-royal-accent: #D4C9A8;   /* Warm sand/gold */
  --color-royal-muted: #7A857E;    /* Muted text */
}

@keyframes slideInRight { from { transform: translateX(100%); opacity: 0; } to { transform: translateX(0); opacity: 1; } }

body {
  font-family: var(--font-sans);
  background-color: var(--color-royal-bg);
}

/* Premium Custom Scrollbar */
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #2A322D; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #7A857E; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }